// GESTION DES FICHIERS
//      SCSS
@import "components/setting"; // Setting permet la gestion des éléments du CSS et l'import des différents components.

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

header {
  // Behavior
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Size
  width: 100%;

  img {
    height: rem(25);
    padding: 14px 0px 14px 0px;
  }
}

.locate {
  // Behavior
  width: 100%;
  height: rem(45);
  display: flex;
  align-items: center;
  justify-content: center;
  //style
  background-color: $--background-2;
  box-shadow: inset 0 5px 10px -10px;

  &__content {
    display: flex;
    justify-content: center;
    gap: 7px;

    input {
      all: unset;
      width: 60%;
      //style
      background-color: $--background-2;

      &::placeholder {
        @include font-roboto(16px, 500);
      }
    }


  }
}

.full-container {
  // Behavior
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $--background;
  gap: rem(20);
  padding: rem(30) rem(20) rem(70) rem(20);
}

#process {
  box-sizing: border-box;
  max-width: rem(355);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: rem(24);
  padding: 0px 2%;
  margin: rem(50) 0 rem(50) 0;

  .process__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(24);

    @include media(desktop) {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  @include media(desktop) {
    max-width: 1400px;
    padding: 0px 10%;
  }
}

// ---------------- Section RESTAURANT --------------------------

.restaurants {
  //styles
  background-color: $--background-2;

  &__content {
    //comportements
    box-sizing: border-box;
    width: 100%;
    max-width: rem(355);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(15);
    padding: 0px 2%;
    margin: rem(50) 0 rem(50) 0;

    @include media(tablet) {
      max-width: 1400px;
      padding: 0px 10%;
      gap: rem(30);
    }
  }
}

.new-restaurants,
.result-restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: rem(15);

  @include media(tablet) {
    flex-direction: row;
    justify-content: center;
    gap: rem(30);
  }
}

// Génére un badge "Nouveau"
.new-restaurants .card-menu::after {
  content: "Nouveau";
  //size & form
  width: rem(80);
  height: rem(30);
  border-radius: rem(2);
  // Shadow
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  //color
  background-color: $color--sucess-1;
  color: $color--sucess;
  //font
  text-align: center;
  //position
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: rem(15);
  top: rem(15);
  z-index: 2;
}

//---------------------FOOTER-----------------------
footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 30px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: rem(7);
  background: $--grey;

  @include media(tablet) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  @include media(desktop) {
    flex-direction: row;
    justify-content: end;
    gap: rem(45);
  }

  .logo {
    all: unset;
    // comportement
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: rem(7);

    //style
    cursor: pointer;
    color: white;
    font-family: Shrikhand;
    font-size: rem(18);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include media(tablet) {
      margin: 0;
    }
    @include media(desktop) {
      margin-left: rem(60);
    }
  }
  ul {
    //comportement
    display: flex;
    flex-direction: column;
    gap: rem(7);

    @include media(desktop) {
      flex-direction: row;
      gap: rem(20);
    }
  }

  li {
    display: flex;
    align-items: center;
    gap: rem(5);
    color: white;
    transition: color 200ms ease-in-out;
    &:hover {
      color: $color--secondary;
    }
    a {
      all: unset;
      cursor: pointer;
    }
  }

  .item1 {
    @include media(tablet) {
      order: 2;
    }
    @include media(desktop) {
      order: 3;
    }
  }

  .item2 {
    @include media(tablet) {
      order: 1;
    }
    @include media(desktop) {
      order: 1;
    }
  }

  .item3 {
    @include media(tablet) {
      order: 3;
    }
    @include media(desktop) {
      order: 2;
    }
  }
}
