//fichier réunissant les sélecteurs pour Card-menu
.card-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: rem(450);
  min-width: rem(260);
  width: 100%;
  border-radius: rem(15);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;

  a {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }


  img {
    box-sizing: border-box;
    min-height: rem(160);
    max-height: rem(200);
    align-self: stretch;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: rem(15) rem(20);

    & > h3 {
      @include font-roboto(rem(18), 700);
    }
  }

  &__heart {
    position: absolute;
    bottom: rem(20);
    right: rem(20);
  }

  input {
    appearance: none;
    cursor: pointer;
    width: rem(26);
    height: rem(26);
    position: relative;
    z-index: 4;

    &:checked,
    &:hover {
      & + svg {
        & .svg__heart--bgcolor {
          opacity: 1;
          transform: scale(1);
        }
        & .svg__heart {
          opacity: 0;
          transform: scale(0);
        }
      }
    }
  }

  svg {
    position: absolute;
    left: -1px;
    height: rem(26);
  }

  .svg__heart {
    fill: #000000;
    opacity: 1;
    transition: all 250ms ease-in-out;
    z-index: 3;
  }

  .svg__heart--bgcolor {
    opacity: 0;
    transform-origin: bottom;
    transform: scale(0);
    transition: all 350ms ease-in-out;
    z-index: 2;
  }
}
