//BREACKPOINTS
@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' not found in $breakpoints map.";
  }
}

// TYPOGRAPHIES
@mixin font-roboto($size: 17, $weight: 300) {
  font-family: Roboto !important;
  font-size: rem($size);
  font-weight: $weight;
  font-style: normal;
  line-height: normal;
  color: $text-color;
}


// ANIMATION & TRANSITION

//mixin pour l'animation du coeur
$z: 1 !default;

@mixin heart($z) {
  &__heart {
    &--relative {
      position: relative;
      z-index: $z;
    }

    &--absolute {
      z-index: $z;
      position: absolute;
      right: rem(50);
      bottom: rem(50);
    }
  }

  input {
    appearance: none;
    cursor: pointer;
    width: rem(26);
    height: rem(26);
    position: absolute;

    z-index: $z + 3;

    &:checked {
      & + svg {
        & .svg__heart--bgcolor {
          opacity: 1;
          transform: scale(1);
        }
        & .svg__heart {
          opacity: 0;
          transform: scale(0);
        }
      }
    }

    @include media(desktop) {
      &:hover {
        & + svg {
          & .svg__heart--bgcolor {
            opacity: 1;
            transform: scale(1);
          }
          & .svg__heart {
            opacity: 0;
            transform: scale(0);
          }
        }
      }
    }
  }

  svg {
    position: absolute;
    height: rem(26);
  }

  .svg__heart {
    fill: #000000;
    opacity: 1;
    transition: all 250ms ease-in-out;
    z-index: $z + 2;
  }

  .svg__heart--bgcolor {
    opacity: 0;
    transform-origin: bottom;
    transform: scale(0);
    transition: all 350ms ease-in-out;
    z-index: $z + 1;
  }
}
