//  Document regroupant les variables constituant le thème du site.

// THEME COLORS
$color--primary: #9356dc;
$color--secondary: #ff79da;
$color--tertiary: #99E2D0;

$color--sucess: #008766;
$color--sucess-1: #99E2D0;

$--grey: #353535;
$--grey-1: #7E7E7E;
$--grey-2: #eaeaea;

$--background: #f6f6f6 !default;
$--background-2: rgb(234, 234, 234) !default;
$--background-3: #353535 !default;

$text-color: black !default;




// TYPOGRAPHY
$base-font-size: 16px !default;

// BREACKPOINTS
// !! Attention modifier uniquement les valeurs !!
// La mixin "media(nom du breackpoint)" permet d'inclure 
// @media (min-width:$valeur) {}
$breakpoints: (
  sm-mobile: 320px,
  md-mobile: 576px,
  tablet: 820px,
  desktop: 1200px,
  large-desktop: 1400px,
);

// GESTION DES FICHIERS
//      SCSS
@use "sass:math";
@import 'function'; // Contient les fonctions
@import "mixins"; //  Contient les mixins
@import "font"; // Contient les sélecteurs global pour la typographie
@import "btn"; //  Contient les btns du site
@import "card-process"; //Contient le component Card-process - Index.html
@import "card-menu"; //Contient le component Card-menu - Index.html
@import "loader"; //Contient le component Card-menu - Index.html


* {
  font-family: "Roboto", sans-serif;
  font-size: $base-font-size;
  margin: 0px;
  padding: 0px;

}

