.font-title {
  @include font-roboto($size: rem(24), $weignt: 700);
  text-align: start;
  &--center {
    text-align: center;
  }
}

.p__font {
  @include font-roboto();
  &--grey{
    color: $--grey;
  }
  &--18 {
    font-size: rem(18);
  }
  &--center {
    text-align: center;
  }
}
