//BREACKPOINTS
@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' not found in $breakpoints map.";
  }
}


// TYPOGRAPHIES
@mixin font-roboto( $size:17px, $weignt:300) {
  font-family: Roboto !important;
  font-size: $size;
  font-weight: $weignt; 
  font-style: normal;
  line-height: normal;
  color: $text-color;
}



@mixin font-title_menu {
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  font-size: 18px;
  font-weight: 700;
}

@mixin font-sub_title_menu {
  font-family: Roboto;
  font-style: normal;
  line-height: normal;
  font-size: 17px;
  font-weight: 300;
}

// ANIMATION & TRANSITION



