/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../../assets/fonts/roboto/roboto-v30-latin-300.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/roboto/roboto-v30-latin-300.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/roboto/roboto-v30-latin-300.woff2") format("woff2"), url("../../assets/fonts/roboto/roboto-v30-latin-300.woff") format("woff"), url("../../assets/fonts/roboto/roboto-v30-latin-300.ttf") format("truetype"), url("../../assets/fonts/roboto/roboto-v30-latin-300.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/roboto/roboto-v30-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/roboto/roboto-v30-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/roboto/roboto-v30-latin-regular.woff2") format("woff2"), url("../../assets/fonts/roboto/roboto-v30-latin-regular.woff") format("woff"), url("../../assets/fonts/roboto/roboto-v30-latin-regular.ttf") format("truetype"), url("../../assets/fonts/roboto/roboto-v30-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../../assets/fonts/roboto/roboto-v30-latin-500.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/roboto/roboto-v30-latin-500.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/roboto/roboto-v30-latin-500.woff2") format("woff2"), url("../../assets/fonts/roboto/roboto-v30-latin-500.woff") format("woff"), url("../../assets/fonts/roboto/roboto-v30-latin-500.ttf") format("truetype"), url("../../assets/fonts/roboto/roboto-v30-latin-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../../assets/fonts/roboto/roboto-v30-latin-700.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/roboto/roboto-v30-latin-700.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/roboto/roboto-v30-latin-700.woff2") format("woff2"), url("../../assets/fonts/roboto/roboto-v30-latin-700.woff") format("woff"), url("../../assets/fonts/roboto/roboto-v30-latin-700.ttf") format("truetype"), url("../../assets/fonts/roboto/roboto-v30-latin-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* shrikhand-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Shrikhand";
  font-style: normal;
  font-weight: 400;
  src: url("../../assets/fonts/Shrikhand/shrikhand-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: url("../../assets/fonts/Shrikhand/shrikhand-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Shrikhand/shrikhand-v15-latin-regular.woff2") format("woff2"), url("../../assets/fonts/Shrikhand/shrikhand-v15-latin-regular.woff") format("woff"), url("../../assets/fonts/Shrikhand/shrikhand-v15-latin-regular.ttf") format("truetype"), url("../../assets/fonts/Shrikhand/shrikhand-v15-latin-regular.svg#Shrikhand") format("svg"); /* Legacy iOS */
}
.font-title {
  font-family: Roboto !important;
  font-size: 1.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: black;
  text-align: start;
}
.font-title--center {
  text-align: center;
}

.p__font {
  font-family: Roboto !important;
  font-size: 1.0625rem;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: black;
}
.p__font--grey {
  color: #353535;
}
.p__font--18 {
  font-size: 1.125rem;
}
.p__font--center {
  text-align: center;
}
.p__font--15 {
  font-size: 0.9375rem;
}

.btn {
  all: unset;
  font-family: Roboto !important;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: black;
  color: white;
  background: linear-gradient(0deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 1.5625rem;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  background: linear-gradient(0deg, #9a61de 0%, #ff86de 100%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.4);
}

.card-process {
  box-sizing: border-box;
  max-width: 20.125rem;
  max-height: 4.5rem;
  width: 90%;
  height: 90%;
  min-width: 16.875rem;
  min-height: 3.875rem;
  padding: 0px 10px 0px 30px;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 15px -10px;
}
.card-process__round {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  border-radius: 1.5rem;
  font-family: Roboto !important;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: center;
  left: -0.75rem;
}
.card-process__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
.card-process__content > i {
  font-size: 1.1875rem;
  color: #7E7E7E;
}
.card-process__content > h3 {
  font-family: Roboto !important;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: black;
}
.card-process:nth-child(3) i {
  color: #9356dc;
}

.card-menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 30.625rem;
  height: 15.6875rem;
  width: 98%;
  min-width: 18.75rem;
  border-radius: 0.9375rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.card-menu a {
  all: unset;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.card-menu picture {
  box-sizing: border-box;
  min-height: 10.625rem;
  height: 60%;
  max-height: 14.4375rem;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 820px) {
  .card-menu picture {
    max-height: 10.625rem;
  }
}
.card-menu picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: stretch;
}
.card-menu img {
  box-sizing: border-box;
  min-height: 10.625rem;
  height: 60%;
  max-height: 14.4375rem;
  align-self: stretch;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
@media (min-width: 820px) {
  .card-menu img {
    max-height: 10.625rem;
  }
}
.card-menu__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.9375rem 1.25rem;
}
.card-menu__content > h3 {
  font-family: Roboto !important;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: black;
}
.card-menu__heart--relative {
  position: relative;
  z-index: 1;
}
.card-menu__heart--absolute {
  z-index: 1;
  position: absolute;
  right: 3.125rem;
  bottom: 3.125rem;
}
.card-menu input {
  appearance: none;
  cursor: pointer;
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  z-index: 4;
}
.card-menu input:checked + svg .svg__heart--bgcolor {
  opacity: 1;
  transform: scale(1);
}
.card-menu input:checked + svg .svg__heart {
  opacity: 0;
  transform: scale(0);
}
@media (min-width: 1200px) {
  .card-menu input:hover + svg .svg__heart--bgcolor {
    opacity: 1;
    transform: scale(1);
  }
  .card-menu input:hover + svg .svg__heart {
    opacity: 0;
    transform: scale(0);
  }
}
.card-menu svg {
  position: absolute;
  height: 1.625rem;
}
.card-menu .svg__heart {
  fill: #000000;
  opacity: 1;
  transition: all 250ms ease-in-out;
  z-index: 3;
}
.card-menu .svg__heart--bgcolor {
  opacity: 0;
  transform-origin: bottom;
  transform: scale(0);
  transition: all 350ms ease-in-out;
  z-index: 2;
}

.loader {
  opacity: 0;
  transform: scale(0);
  width: 30%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  z-index: 2000;
  animation: loader 3s both cubic-bezier(0.95, 0.05, 0.795, 0.035);
}
.loader .loader__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
}
.loader .loader__svg #frites {
  opacity: 0;
  animation: loader_svg 1.8s infinite ease-in-out 0.2s;
}
.loader .loader__svg #haricots {
  opacity: 0;
  animation: loader_svg 1.8s infinite ease-in-out 0.4s;
}
.loader .loader__svg #saucisses {
  opacity: 0;
  animation: loader_svg 1.8s infinite ease-in-out 0.6s;
}
.loader .loader__svg #tomates {
  opacity: 0;
  animation: loader_svg 1.8s infinite ease-in-out 0.8s;
}
@media (min-width: 820px) {
  .loader .loader__svg {
    width: 30%;
  }
}
.loader .loader__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  width: 80%;
  padding: 2% 0;
  z-index: 2100;
  text-align: center;
  background-color: #f6f6f6;
  border: 0.125rem solid #777777;
  box-shadow: 9.5px 9px 9px -3.5px #343434;
  border-radius: 1.25rem;
  animation: 450ms linear both content;
}
@media (min-width: 1200px) {
  .loader .loader__content {
    width: 40%;
  }
}
.loader__text {
  z-index: 2200;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 0.5rem;
}
.loader__text span {
  font-family: Roboto !important;
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: black;
}
@media (min-width: 820px) {
  .loader__text span {
    font-size: 1.5rem;
  }
}
.loader__text .dots {
  z-index: 2201;
  width: 2rem;
  height: 0.375rem;
  margin-bottom: 6px;
  background: radial-gradient(circle closest-side, black 90%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, black 90%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, black 90%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 100%;
  background-repeat: no-repeat;
  animation: dots 1.4s infinite linear;
}

@keyframes loader {
  0%, 98% {
    opacity: 1;
    transform: scale(1);
  }
  99% {
    opacity: 0.2;
  }
}
@keyframes loader_svg {
  from {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes dots {
  33% {
    background-size: 33.3333333333% 0%, 33.3333333333% 100%, 33.3333333333% 100%;
  }
  50% {
    background-size: 33.3333333333% 100%, 33.3333333333% 0%, 33.3333333333% 100%;
  }
  66% {
    background-size: 33.3333333333% 100%, 33.3333333333% 100%, 33.3333333333% 0%;
  }
}
@keyframes content {
  from {
    opacity: 0;
    -webkit-transform: scale(0.1) rotate(30deg);
    transform: scale(0.1) rotate(30deg);
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  70% {
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header img {
  height: 1.5625rem;
  padding: 14px 0px 14px 0px;
}

.locate {
  width: 100%;
  height: 2.8125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(234, 234, 234);
  box-shadow: inset 0 5px 10px -10px;
}
.locate__content {
  display: flex;
  justify-content: center;
  gap: 7px;
}
.locate__content input {
  all: unset;
  width: 60%;
  background-color: rgb(234, 234, 234);
}
.locate__content input::placeholder {
  font-family: Roboto !important;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: black;
}

.full-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  gap: 1.25rem;
  padding: 1.875rem 1.25rem 4.375rem 1.25rem;
}

#process {
  box-sizing: border-box;
  max-width: 22.1875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0px 2%;
  margin: 3.125rem 0 3.125rem 0;
}
#process .process__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
@media (min-width: 1200px) {
  #process .process__container {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  #process {
    max-width: 1400px;
    padding: 0px 10%;
  }
}

.restaurants {
  background-color: rgb(234, 234, 234);
}
.restaurants__content {
  box-sizing: border-box;
  width: 100%;
  max-width: 22.1875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.9375rem;
  padding: 0px 2%;
  margin: 3.125rem 0 3.125rem 0;
}
@media (min-width: 820px) {
  .restaurants__content {
    max-width: 1400px;
    padding: 0px 10%;
    gap: 1.875rem;
  }
}

.new-restaurants,
.result-restaurants {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.9375rem;
}
@media (min-width: 820px) {
  .new-restaurants,
  .result-restaurants {
    flex-direction: row;
    justify-content: center;
    gap: 1.875rem;
  }
}

.new-restaurants .card-menu::after {
  content: "Nouveau";
  width: 5rem;
  height: 1.875rem;
  border-radius: 0.125rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #99E2D0;
  color: #008766;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.9375rem;
  top: 0.9375rem;
  z-index: 2;
}

footer {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: 30px 25px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4375rem;
  background: #353535;
}
@media (min-width: 820px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  footer {
    flex-direction: row;
    justify-content: end;
    gap: 2.8125rem;
  }
}
footer .logo {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 0.4375rem;
  cursor: pointer;
  color: white;
  font-family: Shrikhand;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 820px) {
  footer .logo {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  footer .logo {
    margin-left: 3.75rem;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}
@media (min-width: 1200px) {
  footer ul {
    flex-direction: row;
    gap: 1.25rem;
  }
}
footer li {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  color: white;
  transition: color 200ms ease-in-out;
}
footer li:hover {
  color: #ff79da;
}
footer li a {
  all: unset;
  cursor: pointer;
}
@media (min-width: 820px) {
  footer .item1 {
    order: 2;
  }
}
@media (min-width: 1200px) {
  footer .item1 {
    order: 3;
  }
}
@media (min-width: 820px) {
  footer .item2 {
    order: 1;
  }
}
@media (min-width: 1200px) {
  footer .item2 {
    order: 1;
  }
}
@media (min-width: 820px) {
  footer .item3 {
    order: 3;
  }
}
@media (min-width: 1200px) {
  footer .item3 {
    order: 2;
  }
}

header {
  position: relative;
}
header .return {
  position: absolute;
  left: 7%;
}
header .return i {
  color: black;
  font-size: 1.4375rem;
}

.picture {
  position: relative;
  z-index: 1;
}
.picture img {
  object-fit: cover;
  width: 100%;
  max-height: 23.9375rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -33px;
}

.menu {
  border-radius: 25px 25px 0 0;
  padding: 40px 10px 40px 10px;
  background-color: #f6f6f6;
  position: relative;
  box-sizing: border-box;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  overflow: hidden;
  max-width: 65.9375rem;
  width: 100%;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 90%;
  max-width: 39.375rem;
}
.menu__title h1 {
  font-family: Shrikhand !important;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 820px) {
  .menu__title {
    justify-content: center;
  }
}
.menu__heart--container {
  display: flex;
  width: 1.625rem;
  height: 1.625rem;
}
.menu__heart--relative {
  position: relative;
  z-index: 99;
}
.menu__heart--absolute {
  z-index: 99;
  position: absolute;
  right: 3.125rem;
  bottom: 3.125rem;
}
.menu input {
  appearance: none;
  cursor: pointer;
  width: 1.625rem;
  height: 1.625rem;
  position: absolute;
  z-index: 102;
}
.menu input:checked + svg .svg__heart--bgcolor {
  opacity: 1;
  transform: scale(1);
}
.menu input:checked + svg .svg__heart {
  opacity: 0;
  transform: scale(0);
}
@media (min-width: 1200px) {
  .menu input:hover + svg .svg__heart--bgcolor {
    opacity: 1;
    transform: scale(1);
  }
  .menu input:hover + svg .svg__heart {
    opacity: 0;
    transform: scale(0);
  }
}
.menu svg {
  position: absolute;
  height: 1.625rem;
}
.menu .svg__heart {
  fill: #000000;
  opacity: 1;
  transition: all 250ms ease-in-out;
  z-index: 101;
}
.menu .svg__heart--bgcolor {
  opacity: 0;
  transform-origin: bottom;
  transform: scale(0);
  transition: all 350ms ease-in-out;
  z-index: 100;
}

.menu-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 90%;
  max-width: 39.375rem;
}
.menu-section__title {
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 0.3125rem;
  width: 2.5rem;
}
.menu-section__title h2 {
  all: unset;
  font-family: Roboto !important;
  font-size: 1rem;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  color: black;
  text-transform: uppercase;
}

.menu-item {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 4.3125rem;
  animation: 850ms cubic-bezier(0.32, 0.16, 0, 0.91) both menu_item;
}
.menu-item input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  appearance: none;
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.menu-item input:checked + .menu-item__content .menu-item__valide {
  margin-right: -1rem;
}
.menu-item input:checked + .menu-item__content .menu-item__valide i {
  transform: rotate(0);
}
@media (min-width: 1200px) {
  .menu-item input:hover + .menu-item__content .menu-item__valide {
    margin-right: -1rem;
  }
  .menu-item input:hover + .menu-item__content .menu-item__valide i {
    transform: rotate(0);
  }
}
.menu-item__content {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 15px;
}
.menu-item__text {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex: 1;
}
.menu-item__text p,
.menu-item__text h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item__text > h3 {
  font-family: Roboto !important;
  font-size: 1.125rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: black;
}
.menu-item__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-family: Roboto !important;
  font-size: 0.9375rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: black;
}
.menu-item__valide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.3125rem;
  margin: -1rem -6rem -1rem 1rem;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  overflow: hidden;
  transition: all 380ms ease-in-out;
}
.menu-item__valide i {
  transition: all 380ms ease-in-out;
  transform: rotate(180deg);
  color: white;
  font-size: 1.375rem;
}

@keyframes menu_item {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 0.15s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.45s;
}

.delay-5 {
  animation-delay: 0.6s;
}

/*# sourceMappingURL=menu-style.css.map */
